/node_modules
node_modules/
node_modules
./node_modules

npm-debug.log

# IntelliJ
*.iml
/.idea

./dist

.DS_Store
*.DS_Store
*/.DS_Store
**/.DS_Store
*/*.DS_Store
**/**.DS_Store
*/**/.DS_Store
.AppleDouble
.LSOverride

.AppleDB
.AppleDesktop

Temporary Items
.apdisk

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
